.country-server-container{
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.country-second-container{
    background-color: #232323;
    border-radius: 15px;
    padding:  70px 100px;
    position: relative;
}



.earth-dot-one img  {
position: absolute;
left: 0;
bottom: 0;
}
.earth-dot-second img{
    position: absolute;
    right: 0;
    bottom: 0;
   
    
}

.country-section-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country-title{
    background-color:white;
    border-radius: 30px;
    color: #232323;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 10px 30px;
}
.country-subtitle{
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.first-describe{
    background-color: #83adff;
    border-radius: 5px;
    padding: 45px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.second-describe{
    background-color: #ffdc60;
    border-radius: 5px;
    padding: 45px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.third-describe{
    background-color: #ffadad;
    border-radius: 5px;
    padding: 45px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.country-text-title{   
    color: #232323;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;

}
.country-icon{
    padding-bottom: 10px;
}
.country-icon span i{
    display: inline-block;
    font-size: 60px;
}
.country-text-second >span, .counter span{
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.parent-sub-container{
    justify-content: space-evenly;
    align-items: center;
}

.parent-describe{
    margin: 30px 0px;
}

@media screen and (max-width:1150px) {
    .country-subtitle{
        font-size: 27px;
        text-align: center;
    }
    .country-second-container{
        padding: 50px;
    }
    .first-describe,.second-describe,.third-describe{
        margin: 20px 0px;
    }
}
