.progress-main-container{
    margin: 100px 0px;
}

.progress-bar-title{
    color: #232323;
    font-size:35px; 
    font-weight: 700;
    -webkit-text-stroke: thin;
    line-height: 1.2;
}

.progress{
    width: 100% !important;
    margin: 15px 0px;
}
.progress-name,.progress-num{
    font-size: 13px;
    font-weight: 600;
}

.progress-bar{
    background: linear-gradient(to left, #FFDC60 60%, white);
  
}

.progress{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.progress-one{
    margin-top: 20px;
}


